<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthorPaperEntities" connectionString="metadata=res://*/AuthorPaperModel.csdl|res://*/AuthorPaperModel.ssdl|res://*/AuthorPaperModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=123456;Host=localhost;Database=kdd2013;Persist Security Info=True;Schema=public&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
</configuration>